.menu-con{
    padding:20px;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;

}
span{
    color:crimson;

}



.logo-btn{
    border-color:cadetblue;
    border-radius: 10px;
    color:cadetblue;
    padding:13px;
    width:200px;
    border-width: 3px;
    color: cadetblue;
    margin-right: 10px;
    font-weight: bold;
}
.logo-icon{
    width:30px;
    height:30px;
    
}
.general-das-con{
    border-style: solid;
    border-radius: 3px;
    padding:7px;
    background-color:lightpink;
   border:none;
   height:60px;
   

}
.dash-conta{
    background-color: crimson;
    color: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
    flex-direction: row;

}
.unorder-container{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.dash-image{
    width:20px;
    height:20px;
    margin-right: 10px;

}
.dasboard-text{
    margin-left: 10px;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

Link{
    text-decoration: none;
    
}
li{
    text-decoration: none;
}

.link-class{
    text-decoration: none;
}